@charset "UTF-8";
* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto', sans-serif; }

body {
  -webkit-font-smoothing: antialiased;
  color: #212121; }

body p {
  /* default font configuration */
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #212121; }

/* START MAIN NAVIGATION ========================================= */
#main_nav {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #ffffff;
  /* list below for preview only */
  position: fixed;
  z-index: 10;
  top: 0; }

#main_nav div {
  margin-top: 20px; }

#main_nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #212121; }

#main_nav #standings a {
  border-bottom: 2px solid #212121; }

/* END MAIN NAVIGATION ========================================= */
/* START DROP DOWN ============================================= */
/* For Preview Only ———————————————————————————————————————————— */
#league {
  margin-top: 54px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

#league p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  vertical-align: middle; }

/* For Preview Only ———————————————————————————————————————————— */
/* END DROP DOWN =============================================== */
/* START GROUPS LIST =========================================== */
/* Sub-Title ——————————————————————————————————————————————————— */
#sub_title {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }

#sub_title div {
  display: inline-block;
  width: 100%; }

#sub_title #group {
  width: 10px;
  margin-left: 15px; }

#sub_title #crest {
  width: 25px;
  margin-left: 15px;
  text-align: center; }

#sub_title #club {
  width: 100%;
  margin-left: 18px;
  text-align: left; }

#sub_title #numbers {
  width: 100%;
  text-align: right;
  margin-right: 15px; }

#sub_title #numbers div {
  width: 20px;
  text-align: center;
  margin-left: 10px; }

#sub_title #group p {
  padding-top: 3px;
  font-weight: 700;
  width: 150px; }

#sub_title #club p {
  padding-top: 3px; }

#sub_title #numbers p {
  padding-top: 6px;
  font-size: 12px;
  color: #c2c2c2; }

#sub_title #rank p {
  font-weight: 700; }

/* Start Row 1 ————————————————————————————————————————————————— */
#row1 {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }

#row1 div {
  display: inline-block;
  width: 100%; }

#row1 #rank {
  width: 10px;
  margin-left: 15px; }

#row1 #crest {
  max-width: 25px;
  margin-left: 3%;
  text-align: center; }

#row1 #club {
  width: 80%;
  margin-left: 4%;
  text-align: left; }

#row1 #numbers {
  width: 110%;
  text-align: right;
  margin-right: 15px; }

#row1 #numbers div {
  width: 20px;
  text-align: center;
  margin-left: 10px; }

#row1 #rank p {
  padding-top: 3px; }

#row1 #club p {
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 14px;
  /* testing */ }

#row1 #numbers p {
  padding-top: 3px; }

#row1 #rank p {
  font-weight: 700; }

/* Start Row 2 ————————————————————————————————————————————————— */
#row2 {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }

#row2 div {
  display: inline-block;
  width: 100%; }

#row2 #rank {
  width: 10px;
  margin-left: 15px; }

#row2 #crest {
  max-width: 25px;
  margin-left: 3%;
  text-align: center; }

#row2 #club {
  width: 80%;
  margin-left: 4%;
  text-align: left; }

#row2 #numbers {
  width: 110%;
  text-align: right;
  margin-right: 15px; }

#row2 #numbers div {
  width: 20px;
  text-align: center;
  margin-left: 10px; }

#row2 #rank p {
  padding-top: 3px; }

#row2 #club p {
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 14px;
  /* testing */ }

#row2 #numbers p {
  padding-top: 3px; }

#row2 #rank p {
  font-weight: 700; }

/* Start Row 3 ————————————————————————————————————————————————— */
#row3 {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }

#row3 div {
  display: inline-block;
  width: 100%; }

#row3 #rank {
  width: 10px;
  margin-left: 15px; }

#row3 #crest {
  max-width: 25px;
  margin-left: 3%;
  text-align: center; }

#row3 #club {
  width: 80%;
  margin-left: 4%;
  text-align: left; }

#row3 #numbers {
  width: 110%;
  text-align: right;
  margin-right: 15px; }

#row3 #numbers div {
  width: 20px;
  text-align: center;
  margin-left: 10px; }

#row3 #rank p {
  padding-top: 3px; }

#row3 #club p {
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 14px;
  /* testing */ }

#row3 #numbers p {
  padding-top: 3px; }

#row3 #rank p {
  font-weight: 700; }

/* Start Row 4 ————————————————————————————————————————————————— */
#row4 {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }

#row4 div {
  display: inline-block;
  width: 100%; }

#row4 #rank {
  width: 10px;
  margin-left: 15px; }

#row4 #crest {
  max-width: 25px;
  /* there is an "issue" here w Zenit logo */
  margin-left: 3%;
  text-align: center; }

#row4 #club {
  width: 80%;
  margin-left: 4%;
  text-align: left; }

#row4 #numbers {
  width: 110%;
  text-align: right;
  margin-right: 15px; }

#row4 #numbers div {
  width: 20px;
  text-align: center;
  margin-left: 10px; }

#row4 #rank p {
  padding-top: 3px; }

#row4 #club p {
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 14px;
  /* testing */ }

#row4 #numbers p {
  padding-top: 3px; }

#row4 #rank p {
  font-weight: 700; }

/* DIVIDER ———————————————————————————————————————————————————— */
#divider {
  background-color: #f0f0f0;
  height: 20px;
  margin-top: 10px; }

/* DIVIDER ———————————————————————————————————————————————————— */
/* DIVIDER (LINE) ————————————————————————————————————————————— */
#date_divider {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 5px; }

/* DIVIDER (LINE) —————————————————————————————————————————————— */
/* END GROUPS LIST ============================================= */
